/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap"); */
body{
  font-family: 'CalSans-SemiBold, sans-serif';
  background: #0D102D;
  
}

@font-face {
  font-family:"CalSans-SemiBold, sans-serif";
  src: url( "/font/Calsans-SemiBold.woff");
}
/* @tailwind base;
@tailwind components;
@tailwind utilities; */